{% extends "base.html" %} {% block title %}{{ title }}{% endblock %} {% block content %} {% load static %}
<div class="container">
  <div class="card mt-5">
    <div class="card-header">
      <h5 class="card-title">{{ title }}</h5>
    </div>
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="text-center"><input type="checkbox" class="selectall" /></th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Website Url</th>
            <th>Join Date</th>
          </tr>
        </thead>
        <tbody>
          {% for member in members %}
          <tr>
            <td class="text-center">
              <input type="checkbox" name="ids[]" class="selectbox" value="{{ member.id }}" />
            </td>
            <td>{{ member.name }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.password }}</td>
            <td>{{ member.website_url }}</td>
            <td>{{ member.join_date }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
